.offcanvass {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background: #252836;
    width: 0vw;
    height: 100vh;
    transition: .3s;
    z-index: 0;
    overflow-y: scroll;

}

.offcanvass::-webkit-scrollbar {
    display: none;
}

.active-offcanvas {
    width: 25vw;
}

.offcanvas-filter {
    width: 100vw;
    z-index: 0;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    filter: brightness(30%);
    transition: .3s;
}

.active-filter {
    width: 100vw;
    z-index: 0;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.527);
}

.profile {
    color: white;

    h4 {
        margin-top: 20px;
    }

    .edit-account {
        background-color:
            #1F1D2B;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-radius: 8px;

        div:first-child {
            div {
                width: 80px;
                height: 80px;
                border-radius: 80px;
                background: grey;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 22px;
            }
        }

        div:last-child {
            display: flex;
            justify-content: center;
            align-items: end;
            height: 100px;
            gap: 20px;
            a {
                color: #EA7C69;
                font-size: 14px;
                font-weight: 600;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
    .order-histroy{
        margin-top: 30px;
        width: 100%;
        height: 80px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        background: 
        #7b4339;
        color: white;
        cursor: pointer;
    }

}
.orders{
    height: auto !important;
    background-color: #1F1D2B;
    overflow: hidden;
    width: 100%;
    background-color: #1F1D2B;
    border-radius: 10px;
    transition: .33s;
    opacity: 0;
    margin:  20px 0;
    .orders-card{
        // margin: 20px 0;
        height: 80px;
        display: flex;
        align-items: center;
        transition: .33s;
        padding: 10px 30px;
        div{
            height: 40px;
            display: inline;
            h3{
                font-size: 18px;      
                  margin: 0;
                padding: 0;
            }
            p{
                font-size: 12px;
                margin: 0;
                padding: 0;
            }
        }
    }
    .orders-card:hover{
        background-color: #7b4339;
    }

}
.active-orders{
    opacity: 1 !important;
}