.offcanvass {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background: #252836;
    width: 0vw;
    height: 100vh;
    transition: .3s;
    z-index: 0;
    overflow-y: scroll;

}

.offcanvass::-webkit-scrollbar {
    display: none;
}

.active-offcanvas {
    width: 25vw;
}

.offcanvas-filter {
    width: 100vw;
    z-index: 0;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    filter: brightness(30%);
    transition: .3s;
}

.active-filter {
    width: 100vw;
    z-index: 0;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.527);
}

.emptyBox {
    width: 300px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 90vh;

    button {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 40px;
        border: none;
        background: #EA7C69;
        color: white;
        border-radius: 10px;
        transition: .3s;
    }

    button:hover {
        box-shadow: 0px 0 10px #EA7C69;
    }

    img {
        object-fit: contain;
        width: 300px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

    }

}

.purchased-foods {
    width: calc(100% - 20px);
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 90vh;

    .order-div {
        div:first-child {
            display: flex;
            color: white;
            align-items: center;
            gap: 20px;

            i {
                font-size: 1.5em;
            }

            h4 {
                margin: 0;
                padding: 0;
                font-weight: bold;
            }
        }

        div:last-child {
            margin-top: 10px;
            display: flex;
            align-self: center;
            gap: 10px;
            width: 250px;
            justify-content: space-between;

            button {
                background: #1F1D2B;
                color: white;
                outline: none;
                width: 100px;
                height: 40px;
                border-radius: 5px;
                transition: .3s;
                border: 1px solid #393C49;

                color: #EA7C69;
            }

            button:hover {
                box-shadow: 0 0 5px #EA7C69;
                color: white;
                background: #EA7C69;
                border: none;
            }

            .activeButton {
                box-shadow: 0 0 5px #EA7C69;
                color: white;
                background: #EA7C69;
                border: none;
            }
        }
    }

    .product-table-head {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid grey;
        padding: 20px 0;

        div {
            display: flex;
            gap: 30px;

            h6 {
                color: white;
            }
        }
    }

    .product-purchase {
        width: 100%;
        overflow: hidden;
        height: auto;
        padding: 40px 0;
        border-bottom: 1px solid grey;

        div:first-child {
            display: flex;
            justify-content: space-between;
            align-items: center;

            div:first-child {

                width: 130px;
                overflow: hidden;
                border-radius: 100%;
                height: 110px;
                background-size: contain;
                background-position: center;
            }

            div:last-child {
                height: 120px;
                color: white;
                display: block;
                text-align: right;
                position: relative;

                h6:last-child {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }

        .action-div {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            color: white;

            button {
                background: #1F1D2B;
                border: none;
                color: white;
                border-radius: 5px;
                width: 30px;
                height: 30px;
                font-size: 1.4em;
                outline: none;


            }

            div:first-child {
                margin: 0 0 0 15px;

                div {
                    margin: 0 15px;
                }
            }

            h6 {
                margin: 0;
            }
        }

        .comfirm-input {
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            input {
                border: 1px solid grey;
                border-radius: 5px;
                height: 40px;
                width: 250px;
                background:
                    #393C49;
                padding: 10px;
                outline: none;
                color: white;
            }

            button {
                height: 40px;
                width: 40px;
                border: 1px solid #FF7CA3;
                border-radius: 3px;
                background: #252836;
                color:
                    #FF7CA3;
            }
        }
    }

    .confirm-payment {
        padding: 30px 0;

        button {
            width: 100%;
            border: none;
            border-radius: 10px;
            height: 40px;
            color: white;
            background: #EA7C69;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.paymentOffnavas {
    .payment {
        color: white;
        padding: 10px 0;
        border-bottom: 1px solid grey;
    }

    .payment-method {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        button {
            border: 1px solid grey;
            color: grey;
            width: 120px;
            height: 80px;
            text-align: center;
            border-radius: 10px;
            position: relative;
            background: #1F1D2B;

            i:first-child {
                position: absolute;
                top: 8px;
                right: 8px;
                color: #EA7C69;
                display: none;
            }

            .verifyActive {
                display: block !important;
            }

            p {
                position: absolute;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
                font-size: 14px;
                width: 100%;

            }

            i:nth-child(2) {
                font-size: 24px;
            }
        }

        .activeMethod {
            border: 1px solid white;
            color: white;
        }
    }

    .inputs {
        .input-label {
            color: white;
            width: 100%;
            padding: 0;
            margin: 5px 0;
        }

        .input-verifiy {
            border: 1px solid grey;
            color: grey;
            outline: none;
            height: 40px;
            width: 100%;
            margin-bottom: 20px;
            background: #1F1D2B;
            border-radius: 10px;
            padding: 20px;
            position: relative;
        }

        .input-verifiy:focus {
            color: white;
            border: 1px solid white;
        }

        .input-row-name {
            width: 100%;
            height: 100px;
            margin: 20px 0;
            border-bottom: 1px solid grey;
        }

        .input-row-card {
            width: 100%;
            height: 100px;
            margin: 20px 0;
            border-bottom: 1px solid grey;
        }

        .input-row-date {
            width: 100%;
            height: 100px;
            margin: 20px 0;
            border-bottom: 1px solid grey;
            display: flex !important;
            justify-content: space-between !important;
            align-items: center;
            gap: 20px;
        }
        .input-icon-div{
            position: relative;
            height: 40px;
            .input-icon{
                position: absolute;
                bottom: 0px;
                height: 
                40px;
                right: 20px;
                font-size: 20px;
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                i{
                    height: 40px;
                }
            }
        }
    

        .input-row-select {
            width: 100%;
            height: 100px;
            margin: 20px 0;
            display: flex ;
            justify-content: space-between !important;
            align-items: center;
            gap: 20px;

            .select-row {
                border: none !important;
                padding: 20px 0;

                div {
                    color: white;
                    height: 100%;
                    text-align: center;
                    padding: 5px 0;
     
                    p{
                        margin: 0;
                        padding: 0;
                    }
                }
                .select {
                    margin-top: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 170px;
                    padding: 0 20px;
                    height: 40px;
                    background:
                        #1F1D2B;
                    font-size: 1.2em;
                    border-radius: 10px;
                }
            }
        }
    }
    .confirm-buy{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 0 0 40px 0;
        button{
            width: 200px;
            height: 50px;
            border-radius: 5px;
        }
        button:hover{
            box-shadow:  0 0 4px #EA7C69;
        }
        button:first-child{
            border: 1px solid #EA7C69;
            background: none;
            color: #EA7C69;
        }
        button:last-child{
            background: #EA7C69;
            color: white;
            border: none;
        }
    }
}